@tailwind base;
@tailwind components;
@tailwind utilities;

/* .main{
  z-index: 950;
} */

/* .backgroundVideo {
  width: 150%;
  height: 150%;
  object-fit: cover;
  z-index: 900;
} */

video {
  height: 125vh;
  z-index: 10;
}

.btn {
  background: linear-gradient(
    92.23deg,
    #266200 21.43%,
    #888826 50.63%,
    #886226 100%,
    #bb6226 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(187, 98, 38, 1);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #bb6226 21.43%,
    #886226 50.63%,
    #888826 100%,
    #266200 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #bb6226 21.43%,
    #886226 50.63%,
    #888826 100%,
    #266200 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#bb6226] to-[#266200] font-bold font-primary hover:from-[#266200] hover:to-[#bb6226];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
